<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div id="sampleDemo"  class="demo-container sampleDemo">
  <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
    
    <div id="moduleDemo">              
        <div
        class="oj-panel oj-flex oj-sm-margin-2x-bottom oj-xl-margin-3x oj-xl-padding-5x oj-lg-margin-3x oj-lg-padding-7x oj-md-margin-3x oj-md-padding-4x oj-sm-margin-1x oj-sm-padding-1x">
        <oj-file-picker  primary-text="[[primaryCustomText]]"
              secondary-text="[[secondaryCustomText]]" on-oj-select="[[selectListener]]">
              </oj-file-picker></br>
<!--                <p>Check out <a href="http://169.197.183.168:8090/css/uploads/user1.png" target="_blank">Click Me</a>.</p>
 --> 
         </div>
    </div>

    <oj-dialog id="openAddUploadingProgress" dialog-title="Please wait!Uploading...." modality="modeless"
    style="display:none;width:350px;min-width:240px;max-width:450px;">
    <div slot="body">
      <oj-progress-bar id="createbar" class="oj-progress-bar-embedded" value="-1">
      </oj-progress-bar>
    </div>
  </oj-dialog>

  <oj-dialog id="openFileUploadResult" dialog-title="Upload Document" modality="modeless"  style="display:none;width:350px;min-width:240px;max-width:450px;">
    <div slot="body">
      <oj-bind-text value='[[uploadDocumentMsg]]'></oj-bind-text>
    </div>
    <div  class="oj-flex-bar" slot="footer">
      <oj-button id="okdelButton" class="oj-flex-bar-start oj-button-cancel" on-oj-action="[[DBErrorOKClose]]">
        OK
      </oj-button>
    </div>
  </oj-dialog> 

    

  