<div class="oj-flex  oj-sm-flex-items-1">
    <div style="width:250px; background-color: #e9ecef; height: 100vh; color: gray;padding: 20px;">
        <h3><strong>YOUR PROGRESS</strong></h3>
        <p>Please go through the following steps to complete your application.</p>
        <oj-list-view data="[[dataProvider]]" selection-mode="single" selection="{{selection}}">
            <template slot="itemTemplate" data-oj-as="item">
                <span style="color: black;display: flex; flex-direction: row;justify-content: space-between;">
                    <oj-bind-text value="[[item.data.label]]"></oj-bind-text>
                    <oj-bind-if test="[[item.data.status]] == 'Pending'">
                        <i class="bi bi-check-circle-fill status-pending"></i>
                    </oj-bind-if> 
                    <oj-bind-if test="[[item.data.status]] == 'Audited'">
                        <i class="bi bi-check-circle-fill status-audit"></i>
                    </oj-bind-if>
                </span>
            </template>
        </oj-list-view>
    </div>
    <div class="oj-flex-item oj-panel" style="margin: 0px;">
        <div class="hint-div oj-panel oj-sm-margin-4x demo-mypanel">
            <h2>YOUR APPLICATION</h2>
            <p>Here you can see the progress of your application.</p>
            <div class="oj-flex-bar">
                <div class="oj-flex-bar-start">
                    <p style="font-weight: bold;"><oj-bind-text value="[[progressValue]]"></oj-bind-text>%</p>
                </div>
                <div class="oj-sm-11 oj-flex-item oj-sm-padding-2x-horizontal">
                    <oj-progress-bar id="progressBar" value="{{progressValue}}" style="height: 20px;"></oj-progress-bar>
                </div>
            </div>
            
            <br>
            <i class="bi bi-check-circle-fill status-audit"></i> Approved &nbsp;
            <i class="bi bi-check-circle-fill status-pending"></i> under review/submitted
        </div>
        <oj-module config="[[module.koObservableConfig]]"></oj-module>
    </div>
</div>